body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  font-smooth: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul, ol {
  list-style: none;
}
ul, ol {
  padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
.navbar-expand-md {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.navbar-expand-md .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
.navbar-expand-md .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%);
  content: "";
  transition: width 0.2s;
}
.navbar-expand-md .navbar-nav > li > a:hover:after {
  width: 100%;
}
navbar-expand-md .navbar-nav > .active > a,
navbar-expand-md .navbar-nav > .active > a:hover,
navbar-expand-md .navbar-nav > .active > a:focus {
  background-color: transparent;
}
navbar-expand-md .navbar-nav > .active > a:after,
navbar-expand-md .navbar-nav > .active > a:hover:after,
navbar-expand-md .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggler {
  border-radius: 0;
}
navbar-expand-md .navbar-toggler:hover,
navbar-expand-md .navbar-toggler:focus {
  background-color: #fff;
  border-color: #608dfd;
}
navbar-expand-md .navbar-toggler:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #EDE8D0 0%, #c8981e 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.fa-gift{
color:#c8981e;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #EDE8D0;
  background-image: linear-gradient(to right, #EDE8D0 0%, #c8981e 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #c8981e;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: flex;
  justify-content: center;     /* horizontal centering */
  align-items: center;
  text-align: center; 
  height: 100vh;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-size: cover;
  background-color: #e5e5e5;     /* same here */
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;               /* make overlay flex container */
  justify-content: center;     /* horizontal center */
  align-items: center;         /* vertical center */
  flex-direction: column;      /* stack h1, p, button vertically */
  text-align: center;
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;               /* inherit flex for overlay content */
  justify-content: center;
  text-align: center;
}
.intro h1 span {
  font-weight: 800;
  color: #EDE8D0;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 2rem;
}
header .intro-text {
  padding: 0;
}
@media (max-width: 768px) {
  .intro h1 {
    font-size: 48px;
  }
  .intro p {
    font-size: 18px;
    line-height: 26px;
  }
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 120px;
  }
}

/* Features Section */
#features {
  background: #f6f6f6;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#features-header{
  padding: 2rem;
}
/* this one should be edited when needed */
#about h2 {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: inline-block; /* optional, keeps underline centered under text */
}
#features-header h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #EDE8D0 0%, #c8981e 100%);
  height: 4px;
  width: 60px;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
} 
/* About Section */

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #EDE8D0 0%, #c8981e 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #EDE8D0;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 90%;
  height: auto;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}
#about .row {
  display: flex;
  align-items: center;
}
/* Orders Section */
#orders {
  padding: 100px 0;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%);
  color: #fff;
}
#orders .order-desc {
  margin: 10px 10px 20px;
}
#orders h2 {
  color: #fff;
  position: relative;
  display: inline-block;
}
#orders .section-title h2::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  background: #c8981e;
  height: 5%;
  width: 50%;
}
#orders i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#orders h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#orders p {
  color: rgba(255, 255, 255, 0.75);
}
#orders .order-desc {
  margin-bottom: 40px;
}
/* Team Section */
#team {
  padding: 100px 0;
  background-color: #f6f6f6;
  margin-top: 2rem;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 100%;
  height: auto;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: linear-gradient(to right, #c8981e 0%, #EDE8D0 100%);
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  position: relative;
  display: inline-block; 
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
#contact .section-title h2::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  background: #c8981e;
  height: 5%;
  width: 50%;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #c8981e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: right;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  box-shadow: none;
  transition: none;
  transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::input-placeholder {
  color: #777;
}
.form-control:placeholder {
  color: #777;
}
.form-control::placeholder {
  color: #777;
}
.form-control:input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}